.dialog-pane {
    -fx-background-image: url('/images/eriantys_text_logo.png');
    -fx-background-size: 100% 100%;
    -fx-text-fill:black;
    -fx-font-size:20px;
    -fx-font-family: Algerian;
}

.dialog-pane .button{
    -fx-background-color: linear-gradient(yellow, orange);
    -fx-text-fill: black;;
    -fx-wrap-text: true;
    -fx-effect: dropshadow( three-pass-box, orangered, 10.0, 0.0, 0.0, 0.0);
    -fx-cursor:hand;
    -fx-font-size:15px;
    -fx-font-family: Algerian;
}

.dialog-pane .button:hover{
    -fx-effect: dropshadow(three-pass-box, orange, 10, 0.6, 0, 0);
    -fx-text-fill:black;
    -fx-font-weight:bold;
}